/* #Tablet (Landscape)
----------------------------------------------------------------------*/
@media only screen and (min-width: 959px) and (max-width: 1177px) {
/* page container */
#page-container{
    padding: 0;
    overflow: hidden !important;
}
.p-t-70 {
  padding-top: 0px;
}
.main-content .post .entry-main {
  padding-top: 0px;
}
.core-value .post .entry-main, .main-content .post .entry-main, .services-box .post .entry-main {
  padding-top: 0px;
}


}

/* #Tablet (Portrait)
----------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
/* page container */
#page-container{
    padding: 0;
}
.ui-title-block {
  font-size: 24px;
  font-weight: 300;
}
.categories-tabs .nav li {
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    border-width: 7px;
    border-style: solid;
    transition: all 0.3s;
    text-align: center;
}
.post .entry-main {
  padding-top: 170px;
}
.core-value .post .entry-main, .main-content .post .entry-main, .services-box .post .entry-main {
  padding-top: 0px !important;
}



}

/* #Mobile (Landscape)
----------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
/* page container */
#page-container{
    padding: 0;
}
.ui-title-block {
  font-size: 24px;
  font-weight: 300;
}
.categories-tabs .tab-content {
    margin-right: 0%;
    padding-right: 0px;
}
.core-value .post .entry-main, .main-content .post .entry-main, .services-box .post .entry-main {
  padding-top: 0px;
}



}

/*  #Mobile (Portrait) 320px
----------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 479px) {
/* page container */
#page-container{
    padding: 0;
}
/* ==========================================================================
   Gallery
   ========================================================================== */
#gallery-container {
	width: 100%;
	height: 300px;
	overflow: hidden;
}
/* ==========================================================================
   section - services
   ========================================================================== */
.categories-tabs .tab-content {
    margin-right: 0%;
    padding-right: 0px;
}
.ui-title-block {
  font-size: 24px;
}
.find-course__title {
  font-size: 13px;
}
.section-categories {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.core-value .post .entry-main, .main-content .post .entry-main, .services-box .post .entry-main {
  padding-top: 0px;
}

/* ==========================================================================
   section - blog
   ========================================================================== */
  .post_mod-d {
    padding-left: 0;
    padding-right: 0;
    background-color: #EEE;
  }
  .post_mod-d .entry-media {
    float: none;
    border: 1px solid #eee;
  }


}












