/* ==========================================================================
   Gallery
   ========================================================================== */

#fwslider {
    overflow: hidden;
    position: relative;
    width:100%;
    line-height:100%;
}
#fwslider h4,
#fwslider p,
#fwslider img {
    margin:0;
}
#fwslider .slider_container {
}
#fwslider .slide {
    display: none;
    left:0;
    line-height:100%;
    position: absolute;
    top:0;
    width:100%;
    z-index: 0;
}
#fwslider .slide img {
    width:100%;
}
#fwslider .slidePrev {
    background:#1f7c3d;
    width:50px;
    height:50px;
    position: absolute;
    top:-30%;
    left:-50px;
    opacity:1;
    z-index: 10;
}
#fwslider .slidePrev span {
    background-image:url("../images/left_arrow.png");
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
#fwslider .slideNext {
    background:#1f7c3d;
    width:50px;
    height:50px;
    position: absolute;
    top:-30%;
    right:-50px;
    opacity:1;
    z-index: 10;
}

#fwslider .slideNext span {
    background-image:url("../images/right_arrow.png");
    width:50px;
    height:50px;
    float:left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fwslider .timers {
    height:4px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
}

#fwslider .timer {
    height:4px;
    width:40px;
    background-color: #1f7c3d;
    float:left;
    margin-right: 10px;
}

#fwslider .progress {
    height:4px;
    width:0%;
    background-color: #1f7c3d;
    float:left;
}
#fwslider .slide_content {
    top:0;
    left:0;
    position: absolute;
    width:100%;
    height:100%;
}
.home #fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    max-width:1280px;
    margin:0 auto;
}
.inner #fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    display: none;
}
#fwslider .title {  /* Slider Title Style */
  background: #1f7c3d;
  color: #fff;
  float: left;
  opacity: 0;
  line-height:1.0em;
  margin-bottom: 0px;
  padding: 10px;
  margin-left: 70px;
  margin-top: 15%;
  font-size: 14px;
  font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
}
#fwslider .description { /* Slider Description Style */
  background: #333;
  clear: both;
  color: #ccc;
  float: left;
  opacity: 0;
  max-width: 400px;
  padding: 10px;
  margin-left: 70px;
  font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
}
#fwslider .description p{ /* Slider Description Style */
  opacity: 1;
}


/* ------------------------------- 3. Media Query Max Width 1300, Min Width 720 ------------------------------- */
@media only screen and (min-width:720px) and (max-width: 1300px) {

    #fwslider .slide_content_wrap { margin-right:0px; margin-top:0px;}
    #fwslider .title { font-size:24px; }

}
/* ------------------------------- 4. Media Query Max Width 719 ------------------------------- */
@media only screen and (max-width:719px) {

    #fwslider .timers { display:none; }
    #fwslider .slide_content {cursor: pointer;}

}