/************************************
 #Tablet (potrait - 959)
************************************/
@media only screen and (min-width: 959px) and (max-width: 1177px) {
/************************************
 Page Container
************************************/
#page-container{
    padding: 0;
}
.wide-container {
      height: 400px;
      margin: 0 auto;
}
.navigation .nav-footer button {
	top: -30px;
	right: -10px;
}
/* View Gallery- Homepage */
#view-gallery .content {
  padding-left: 30px !important;
}




}

/************************************
 #Tablet (Landscape - 768)
************************************/
@media only screen and (min-width: 768px) and (max-width: 959px) {
/************************************
 Page Container
************************************/
#page-container{
    padding: 0;
}
.navigation .nav-footer button {
	top: -40px;
	right: -10px;
}
#top-nav {
	display: none;
}
.wide-container {
      height: 400px;
      margin: 0 auto;
}
/* short links */
#short-links {
  bottom: 0;
  left: 0;
  height: auto;
  position: absolute;
  left: -10px;
  top: 100px;
  z-index: 4;
  color: #fff;
}
#short-links .entry-thumbnail img {
  width: inherit;
  height: 130px;
}
#short-links .entry-content h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #ffd01f;
}
/* View Gallery- Homepage */
#view-gallery .content {
  padding-left: 30px !important;
}



}

/************************************
 #Mobile (Landscape - 480)
************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {
/************************************
 Page Container
************************************/
#page-container{
    padding: 0;
}
#top-nav {
	display: none;
}
.navigation .nav-footer button {
	top: -70px;
	right: -10px;
}
/************************************
 Gallery
************************************/
.wide-container {
      height: 300px;
      margin: 0 auto;
}
/* short links */
.top-short-link {
  font-size: 30px;
}
#short-links {
  bottom: 0;
  left: 0;
  height: auto;
  position: absolute;
  left: -10px;
  top: 50px;
  z-index: 4;
  color: #fff;
}
/* View Gallery- Homepage */
#view-gallery .content {
  padding-left: 10px;
}



}

/************************************
 #Mobile (Potrait - 320)
************************************/
@media only screen and (min-width: 100px) and (max-width: 479px) {
/************************************
 Page Container
************************************/
#page-container{
    padding: 0;
}
#top-nav {
	display: none;
}
.navigation .nav-footer button {
	top: -70px;
	right: -10px;
}
.wide-container {
      height: 300px;
      margin: 0 auto;
}
/* short links */
.top-short-link {
  font-size: 25px;
}
#short-links {
  bottom: 0;
  left: 0;
  height: auto;
  position: absolute;
  left: -10px;
  top: 50px;
  z-index: 4;
  color: #fff;
}
#short-links .entry-thumbnail img {
  width: inherit;
  height: 130px;
}
#short-links .entry-content h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #ffd01f;
}
#short-links .entry-tab:last-child {
	display: none;
}
/* View Gallery- Homepage */
#view-gallery .content {
  padding-left: 10px;
}


}




/************************************
 Navigation
************************************/
@media (max-width: 1199px) {
.logo {
	float: none !important;
	text-align: center;
	padding-bottom: 30px;
}

}

@media (max-width: 1024px) {
.header-right-info {
	float: none !important;
	padding-left: 0;
}
.navigation .nav-header > ul > li > a {
	padding: 23px 12px;
}
}

@media (max-width: 991px) {
.navigation .nav-header > ul > li > a {
	padding: 23px 11px;
}
}

@media (max-width: 768px) {
.header-right-info {
	padding: 0;
}
}

/* menu responsive styles */

@media (max-width: 768px) {
/*.navigation {position: relative;}*/
.navigation .nav-header {
	display: none;
	position: absolute;
	top: 5px;
	right: 0px;
	width: 200px;
	z-index: 9999;
	overflow: hidden;
	overflow-y: scroll;
	margin-left: 15px
}
.navigation .nav-footer {
	display: block;
	top: 0px;
	right: 10px;
	position: absolute;
}
.navigation .nav-footer button {
	width: 40px;
	height: 40px;
	background: #ffd01f;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
}
.navigation .nav-footer button:hover {
	background: #eaeaea;
}
.navigation .nav-header > ul > li {
	display: block;
	width: 100%;
	padding: 0px;
}
.navigation .nav-header > ul > li > a, .navigation .nav-header > ul > li:first-child > a {
	padding: 14px 19px;
	background: #ffd01f;
	border-bottom: 1px solid #fff;
}
.navigation .nav-header .dropdown a {
	position: relative;
}
.navigation .nav-header .dropdown a button {
	width: 30px;
	height: 30px;
	background: #fff;
	color: #ffd01f;
	border: none;
	outline: none;
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 8px;
}
.navigation .nav-header > ul > li:hover > a {
	color: #fff;
}
.navigation .nav-header > ul > li > ul {
	position: relative;
	display: none;
	opacity: 1;
	visibility: visible;
	width: 100%;
	transition: none;
}
}

@media (max-width: 375px) {
.navigation .nav-header {
	width: 250px;
}
.logo {
	width: 190px;
}


}
